{% load static %}
<form method="post" enctype="multipart/form-data" id="registrationForm">
  {% csrf_token %}
  <div
    class="modal fade"
    id="registrationModal"
    tabindex="-1"
    aria-labelledby="registrationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <img class="modal_Logo m-2" src="{% static 'SaS.png' %}" />
          <h5 class="modal-title" id="registrationModalLabel">
            SaS Registration
          </h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container px-3">
            <div class="form-outline">
              <input
                type="text"
                id="first_name"
                class="form-control form-control-lg my-3 first_name {%if err.email %} is-invalid {% endif %}"
                name="first_name"
                required
              />
              <div class="invalid-feedback">Looks good!</div>
              <label class="form-label" for="first_name">First Name</label>
            </div>

            <div class="form-outline">
              <input
                type="text"
                id="last_name"
                class="last_name form-control form-control-lg my-3"
                name="last_name"
                required
              />
              <label class="form-label" for="last_name">Last Name</label>
            </div>

            <div class="form-outline">
              <input
                type="email"
                id="email"
                class="email form-control form-control-lg my-3"
                name="email"
                required
              />
              <div
                class="invalid-feedback"
                id="email_alert_id"
                style="display: none"
              >
                Looks good!
              </div>
              <label class="form-label" for="email">Email</label>
            </div>

            <div class="form-outline">
              <input
                type="tel"
                id="mobile"
                class="form-control form-control-lg my-3"
                pattern="^(?:\+?88)?01[15-9]\d{8}$"
                name="mobile"
                required
              />
              <label class="form-label" for="mobile">Mobile No</label>
            </div>

            <div class="form-outline">
              <input
                type="file"
                class="form-control form-control-lg my-3"
                id="image_file"
                name="image"
                accept="image/*"
                multiple
              />
            </div>

            <div class="form-outline">
              <textarea
                class="form-control form-control-lg my-3"
                id="user_address"
                rows="4"
                name="address"
              ></textarea>
              <label class="form-label" for="user_address">User Address</label>
            </div>

            <div class="form-outline">
              <input
                type="password"
                id="password1"
                class="form-control form-control-lg my-3"
                name="password1"
                required
              />
              <label class="form-label" for="password1">Password</label>
            </div>
            <div class="form-outline">
              <input
                type="password"
                id="password2"
                class="form-control form-control-lg my-3"
                name="password2"
                required
              />
              <label class="form-label" for="password2">Confirm Password</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-dark">Register</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  $(document).ready(function () {



    $("#registrationForm").submit(function (event) {
      event.preventDefault();
      var formData = new FormData();
      formData.append("first_name", $("#first_name").val());
      formData.append("last_name", $("#last_name").val());
      formData.append("email", $("#email").val());
      formData.append("mobile", $("#mobile").val());
      formData.append("address", $("#user_address").val());
      formData.append("password1", $("#password1").val());
      formData.append("password2", $("#password2").val());
      formData.append("image", $("#image_file")[0].files[0]);
      formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

      $("#email_alert_id").hide();

        var p1 = $("#password1").val();
        var p2 = $("#password2").val();

        console.log(p1,p2)
      if(p1 !== p2){
        alert("Your Password and Confirm Password Didn't Match");
      }
      else{
      $.ajax({
        type: "POST",
        url: "/registration",
        data: formData,
        cache: false,
        processData: false,
        contentType: false,
        enctype: "multipart/form-data",
        success: function (res) {
          if (res.err && res.err.email) {
              //$("#email_alert_id").css("display", "block");
            //  $("#email_alert_id").text(res.err.email);
              $("#email_alert_id").show();
             // alert(res.err.email)
             }
          if(res.data){
            window.location.replace("/");
          }

        },

        error: function (xhr, errmsg, err) {
          console.log(err);
        },


      //   var data = new FormData(form);
      //   var first_name = docu
      //   var last_name = request.POST.get('last_name')
      //   var email = request.POST.get('email')
      //  var mobile = request.POST.get('mobile')
      //  var image = request.FILES.get("image")
      //   var address = request.POST.get('address')
      //   var password1 = request.POST.get('password')
      //  var password2 = request.POST.get('confirm_password')
    });

      }


   });
  });
</script>
